<%= bootstrap_form_for([@question, @response], remote: true)  do |f| %>
  <div class="form-group">
    <%= f.text_area :body %>
  </div>
  <%= f.submit id: "submit-response-btn", class: "btn btn-default" %>
<% end %>
